* {
     text-decoration: none;
     list-style: none;
}
#adminpage{ 
    height: 100%;
    width: 100vw;
    background:linear-gradient(120deg, rgb(241, 241, 241), rgb(241, 241, 241) 60%, #A6EAFF 60%, #A6EAFF);
}
nav {
    position: fixed;
    top: 0%;
    left: 0%;
    bottom: 0%;
    height: 100%;
    background-color:aquamarine;
    width: 80px;
    overflow: hidden;
    transition: width 0.1s linear;
    box-shadow: 0 20px 10px rgba(0, 0, 0, .5);
    z-index: 1;
    align-items: center;
}

.sidenav {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}



 .logo img {
    width: 50px;
    border-radius: 50%;
 }

 .logo span {
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
 }
 #logo {
    padding: 10px 10px;
    display: flex;
    width: auto;
 }

.nav a{
    position: relative;
    color: black;
    font-size: 14px;
    display: table;
    width: 300px;
    padding: 10px 0px 10px 20px;
}

.fa {
    position: relative;
    width: 40px;
    height: 50px;
    top: 12px;
    font-size: 20px;
    text-align: center;
}

.nav-item {
    position: relative;
    top: 10px;
    margin-left: 20px;
    font-weight:bolder;
    width: 200px;
    color: black
}

nav:hover {
    width: 280px;
    transition: all 0.1s ease;
}
.logout{
    position: absolute;
    bottom: 0;
    
}

li.nav:hover {
    background-color:rgb(189, 245, 226)
}

.adminContent {
    display: inline-block;
    position: relative;
    left: 150px;
    z-index: 0;
}


#calendar {
    position: absolute;
    top: 100px;
    right: 30px;
    width: 40%;
    padding: 10px;
    background-color: rgb(164, 223, 255);
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .5);
}
#wrapper { 
    margin: 10px;
    padding: 15px;
    width: 80vw;
    grid-area: footer;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .5);
}

.header{
    font-weight: bolder
}
.eventGraph {
    height: 70vh;
    width: 40vw;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .5);
    border-radius: 10px;
}