* {
    text-decoration: none;
    list-style: none;
}
nav {
   background-color: aqua;
}
.logo img {
   width: 50px;
   border-radius: 50%;
}


.welcome-section,
.manage-user,
.display-user,
.test-section,
.test-section2,
.test-section3{
   padding-top: 60px;
   height: 100vh;
}

.welcome-section{
   /* background-color: aliceblue; */
   height: 20vh;
}
.manage-user{
   /* background-color: antiquewhite; */
}
.display-user{
   /* background-color: aliceblue; */
}
.test-section{
   /* background-color: antiquewhite; */
}
.test-section2{
   /* background-color: aliceblue; */
}
.test-section3{
   /* background-color: antiquewhite; */
}